<nav class="navbar navbar-dark bg-primary">
  <ul class="nav navbar-nav">
  <li><a class="navbar-brand" href="/list-of-all-todos">TODO-Tracker</a></li>
  <li><a class="navbar-brand" href="/imprint">Imprint</a></li>
  </ul>
</nav>