<table id="table" class="table table-hover table-sm">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Description</th>
    <th scope="col">Date</th>
    <th scope="col">Progress</th>
  </tr>
  </thead>
  <tbody>
  {{#each todos}}
    <tr>
      <th scope="row">{{@index}}</th>
      <td>{{description}}</td>
      <td>{{deadline}}</td>
      <td>{{progress}}</td>
      <td>
        <form action="/editTODO" method="POST">
          <button type="submit" name="edit" value="edit" class="btn btn-primary">Edit</button>
        </form>
        <form action="/deleteTODO" method="POST">
          <button type="submit" name="delete" value="delete" class="btn btn-primary">Delete</button>
        </form>
      </td>
    </tr>
  {{/each}}
  </tbody>

  <script>
    var edit_todo(id) => {
      var btn = document.getElementById("");
    };
  </script>

</table>
<a class="btn btn-primary" href="/">Create TODO</a>